:root {
  --clr-text: hsl(200, 15%, 8%);
  --clr-bg: hsl(0, 0%, 90%);
  --clr-elements: hsl(0, 0%, 100%);
  --clr-gray-text: hsla(220, 14%, 96%, 0.712);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --clr-text: hsl(0, 0%, 100%);
  --clr-bg: hsl(207, 26%, 17%);
  --clr-elements: hsl(209, 23%, 22%);
}
